@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kanit/v15/nKKZ-Go6G5tXcraVGwA.woff2) format('woff2');
}

body {
    font-family: 'Kanit', sans-serif;
} 